# App
Flask~=0.12
Flask-SQLAlchemy==2.1
passlib~=1.7.0
argon2_cffi
marshmallow~=2.10.4
webargs~=1.5.0
alembic~=0.8.9
requests~=2.12.4
pwgen~=0.7
SQLAlchemy~=1.1.4
sqlalchemy-utils~=0.32.12
psycopg2
retry~=0.9.2
